:root{
  --road-size: 8vw;
  --cell-size: 8vw;
}

#grid{
  height: calc(var(--road-size) * 1.6);
  width: calc(var(--road-size) * 10);
  display: flex;
  align-items: flex-end;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  div{
    height: var(--cell-size);
    width: var(--cell-size);
  }
  .ghost{
    background-image: url('../img/ghost2.png');
    background-position: 0px 1em;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform linear 0.3s;
  }
  .rock{
    background-image: url('../img/rock.png');
    background-position: 0px 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .ghostUp{
    transform: translate(0, -8vw);
  }
}

@media screen and (max-width: 450px) {
  
  :root{
    --road-size: 9vw;
    --cell-size: 12vw;
  }
  
}