:root{
  --cell-size: 8vw;
  --cell-gutter: 1em;
}

#grid{
  display: flex;
  flex-wrap: wrap;
  width: calc((var(--cell-size) + var(--cell-gutter)) * 3);
  height: calc((var(--cell-size) + var(--cell-gutter)) * 3);
  align-content: space-between;
  justify-content: space-between;
  .cell{
    cursor: pointer;
    height: var(--cell-size);
    width: var(--cell-size);
    border: 3px solid #fff;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .ant{
    background-image: url('../img/ant.png');
  }
  .splat{
    background-image: url('../img/splat.png');
  }
}


@media screen and (max-width: 450px) {
  
  :root{
    --cell-size: 12vh;
  }

  #grid{
    .cell{
      font-size: 6rem;
    }
  }
  
}