:root{
  --cell-size: 8vw;
  --cell-gutter: 1em;
}

#grid{
  height: calc((var(--cell-size) + var(--cell-gutter)) * 3);
  width: calc((var(--cell-size) + var(--cell-gutter)) * 4);
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  cursor: pointer;
  .cell{
    height: var(--cell-size);
    width: var(--cell-size);
    background-image: url('../img/back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  .bomb{
    background-image: url('../img/bomb.jpg');
  }
  .bone{
    background-image: url('../img/bone.jpg');
  }
  .dinosaur{
    background-image: url('../img/dinosaur.jpg');
  }
  .heart{
    background-image: url('../img/heart.jpg');
  }
  .gamepad{
    background-image: url('../img/gamepad.jpg');
  }
  .shoes{
    background-image: url('../img/shoes.jpg');
  }
  .star{
    background-image: url('../img/star.jpg');
  }
  .sunglasses{
    background-image: url('../img/sunglasses.jpg');
  }
}

@media screen and (max-width: 450px) {
  
  :root{
    --cell-size: 10vh;
  }
  
}